app/bootstrap.php.cache
app/config/parameters.yml
app/phpunit.xml
bin/
composer.phar
vendor/
web/bundles/
.project
.settings
app/data/*
.buildpath
.idea
.hg/*
.hgignore
.hgtags
web/iirf.ini
web/download/*
web/media/cache/*
web/config.php