<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Rapportage{% endblock %}</title>
        <style type="text/css">
* { margin: 0; padding: 0; }
body { font-family: 'Open Sans', Helvetica, Verdana, Arial, sans-serif; background-color: #F6F6F6; }
.element_document { border: 1px solid #DDDDDD; border-radius: 5px; background-color: #FFFFFF; padding: 20px; margin: 50px; }
.element_document h1 { font-weight: normal; font-size: 2.0rem; margin-bottom: 10px; padding: 0 5px; }
.element_document h2 { font-weight: normal; font-size: 1.5rem; margin-bottom: 10px; padding: 0 5px; }
.element_document .table { width: 100%; border-collapse: collapse; table-layout: fixed; }
.element_document .table th { border-bottom: 3px solid #EEEEEE; padding: 5px; text-align: left; color: #666666; font-weight: normal; }
.element_document .table td { border-bottom: 1px solid #EEEEEE; padding: 5px; vertical-align: top; }
.element_document .table tr.deleted td { text-decoration: line-through; }
.element_document .table tr.deleted td.info { text-decoration: none; }
.element_document .table tbody tr:hover td { background-color: #f9f9f9; }
.element_document .table a { color: #0085CF; text-decoration: none; }
.element_document .table a:hover { color: #FF0000; }
.element_document .filter { padding: 7px 10px; background-color: #F6F6F6; border: 1px solid #CCCCCC; margin: 10px 0; }
.element_document .filter label { padding: 5px 0px; }
.element_document .filter input { padding: 5px 5px; width: 100px; border-radius: 1px; border: 1px solid #CCCCCC; }
.element_document .filter button { background: transparent; border: 0 none; font: inherit; color: #0085CF; font-weight: bold; cursor: pointer; padding: 5px 5px; }
.element_document .kaart { background-color: #F6F6F6; border: 1px solid #F6F6F6; padding: 20px; border-radius: 5px; margin: 10px 0; }
.element_menu { background-color: #FFFFFF; padding: 20px; border-bottom: 1px solid #DDDDDD; }
.element_menu a { color: #0095CF; text-decoration: none; margin-right: 30px; }
        </style>
    </head>
    <body>
        <div class="element_menu">
            <a href="{{ path('gemeenteamsterdam_makkelijkemarkt_appapi_report_markt') }}">Markten/Dagvergunningen</a>
            <a href="{{ path('gemeenteamsterdam_makkelijkemarkt_appapi_report_koopmansearch') }}">Koopmannen</a>
        </div>
{% block document %}
{% endblock %}
    </body>
</html>